@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: url(Lato.woff) format('woff');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Lato';

  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 1.8em 0 0;
  overflow: hidden;

  background: linear-gradient(to bottom right, #41B070, #367670);
  color: #36555C;
  text-align: center;
  font-size: 3vw;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
  opacity: 0.2;
}

main {
  position: relative;
  z-index: 2;

  margin: 0 auto;
  padding: 1.5em 2em 1.5em;
  min-width: 14em;
  max-width: 18em;

  background-color: #F8FFF8;
  border-radius: .25em;
  box-shadow: 0 0 .5em rgba(0, 0, 0, 0.5);
}

#target {
  margin-bottom: 1.5em;
  line-height: 1.4em;
}

#warning {
  color: #1b424f;
  background-image: url("warning.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 12em;
  text-align: center;
  margin-bottom: 1.5em;
}

#warning-icon {
  font-size: 4em;
  position: relative;
  top: 1.45em;
}

button {
  height: 3.4em;
  width: 14em;
  font-size: .9em;
  letter-spacing: .15em;

  border-radius: 1.7em;
  background: linear-gradient(to right, #92D683, #26C399);
  color: #F8FFF8;
}
